<html>
<body>
  <p>
    home works!
  </p>

  <div class="div-home">
    <div class="my-div-home-item">
      <img src="" alt="Make order">
      <p class="my-div-home-item-text">Make an order</p>
    </div>
    <div class="my-div-home-item">
      <img src="" alt="Our products">
      <p class="my-div-home-item-text">Our products</p>
    </div>
    <div class="my-div-home-item">
      <img src="" alt="Profit chart">
      <p class="my-div-home-item-text">Profit chart</p>
    </div>
  </div>
</body>
</html>