
body {
    position: relative;
    margin: auto;
    font-family: 'bah';
    color: var(--marron);   
  }
  
  .peopleData{

    float: left;
    width:50%;
    font-size: var(--tamanoindice);
    font-weight: bold;
  }
  .datesData{

    float: left;
    width:50%;
    font-size: var(--tamanoindice);
    font-weight: bold;
  }

.orderInfo{

    display: flex;
}
  
 
  .pagename{
    font-size: 60px;
    font-weight: bold;
    margin: auto;
    padding-top: 16px;
    text-align: center;
  }
  
  
  hr{
    background-color: var(--marron);
    height: 4px;
    margin-left: 16px;
    margin-right: 16px;
    border: none;
  
  }
  
  .div-home{
    margin: auto;
    text-align: center;
  
    background: var(--blanco);
    border-radius: 8px;
    width: 85vw;
   
    float: right;
    margin-right: 32px; 
    margin-top: -32px;
  
  }
  
  .linestable{
  
  margin: auto;
  width: 100%;
  height: 60vh;
  
  }
  
  .tablecontainer{
  
    overflow-y:scroll;
  height: 60vh;
  
  }
  
  th{
    padding-top: 16px;
    font-size: 24px;
  
  }
  
  
  td{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    color: var(--gris);
    overflow: hidden;
  }
  
 
  .material-icons:hover{
  
    color: var(--marron);
    outline: none;
    cursor: pointer;
  }
  
  .material-icons{
  
    font-size: 32px;
  
  }