<html>
<body>
<div class="div-home">

  <p class="pagename">ORDER DETAILS</p>

  <hr>

  <div class="orderInfo">
 <div class="peopleData">
        <ul>
            <p>Customer: </p>
            <p>{{Data.nombreCliente}}</p>
        </ul>


        <ul>
            <p>Supplier: </p>
            <p>{{Data.nombreVendedor}}</p>
        </ul>
    </div>
 
    <div class ="datesData">
        <ul>
            <p>Order date: </p>
            <p>{{Data.fechaPedido | date: 'dd/MM/yyyy'}}</p>
        </ul>
        <ul>
            <p>Dispatch Date: </p>
            <p>{{Data.fechaEntrega | date: 'dd/MM/yyyy'}}</p>
        </ul>
    </div> 
  </div>

    <div class="tablecontainer">
    <table cdk-table [dataSource]="miLineasDePedido">

      <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
      <!-- nombre Column -->
      <ng-container cdkColumnDef="nombre">
        <th cdk-header-cell *cdkHeaderCellDef>Name</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.producto.nombre}} </td>
      </ng-container>
    
      <!-- precioVenta Column -->
      <ng-container cdkColumnDef="descripcion">
        <th cdk-header-cell *cdkHeaderCellDef>Descriprion</th>
        <td cdk-cell *cdkCellDef="let row">{{row.producto.descripcion}} </td>
      </ng-container>
    
      <!-- descripcion Column -->
      <ng-container cdkColumnDef="listaCategorias">
        <th cdk-header-cell *cdkHeaderCellDef>Category</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.producto.listaCategorias[0].nombre}} </td>
      </ng-container>
    
      <!-- stock Column -->
      <ng-container cdkColumnDef="stock">
        <th cdk-header-cell *cdkHeaderCellDef>Stock</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.producto.stock}} </td>
      </ng-container>

      <ng-container cdkColumnDef="precioUnitario">
        <th cdk-header-cell *cdkHeaderCellDef>Unit price</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.precioUnitario}} </td>
      </ng-container>

      <ng-container cdkColumnDef="impuestos">
        <th cdk-header-cell *cdkHeaderCellDef>Taxes</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.impuestos}} </td>
      </ng-container>
    
      <ng-container cdkColumnDef="subtotal">
        <th cdk-header-cell *cdkHeaderCellDef>Subtotal</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.subtotal}} </td>
      </ng-container>

      <ng-container cdkColumnDef="Acciones">
        <th cdk-header-cell *cdkHeaderCellDef>Options</th>
        <td cdk-cell *cdkCellDef="let row">
          <button value="Editar" (click)="Borrar(row.idPedido)">Borrar</button>
        </td>
      </ng-container>

    </table>
  </div>


</div>

</body>
</html>        
   
         


    

