<html>
<body>
<div class="div-home">

    <div class="headercontainer">

        <div class="buttoncontainer">
            <button class="newbutton" (click) = "Open(content)">NEW</button>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
      
       <p class="pagename">ORDERS DETAILS</p>
      
      
       <div class="searchcontainer">
          <button class="newbutton" class="send">SEND</button>
         </div>
      
      </div>

  <hr>

  <div class="orderInfo">
 <div class="peopleData">
        <ul>
            <p>Customer : {{Data.nombreCliente}}</p>
        </ul>


        <ul>
            <p>Supplier : {{Data.nombreVendedor}}</p>
        </ul>
    </div>
 
    <div class ="datesData">
        <ul>
            <p>Order date : {{Data.fechaPedido | date: 'dd/MM/yyyy'}}</p>
        </ul>
        <ul>
            <p (click)="CambiarFecha(Data.fechaEntrega)">Dispatch Date : {{Data.fechaEntrega | date: 'dd/MM/yyyy'}}</p>
            <div id="fecha" hidden>

              <ul> 

                  <input id="fechaSelect" value ="2019-01-01" type="date" name="bday">
                  <input id="horaSelect" value="00:00" type="time" name="tday">
                  
                  <button (click) ="helow()"> Editar </button>
              </ul>


          </div>
        </ul>
    </div> 
  </div>

    <div class="tablecontainer">
    <table cdk-table [dataSource]="miLineasDePedido" class="linestable">

      <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
      <!-- nombre Column -->
      <ng-container cdkColumnDef="nombre">
        <th cdk-header-cell *cdkHeaderCellDef>Name</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.producto.nombre}} </td>
      </ng-container>
    
      <!-- precioVenta Column -->
      <ng-container cdkColumnDef="descripcion">
        <th cdk-header-cell *cdkHeaderCellDef>Description</th>
        <td cdk-cell *cdkCellDef="let row">{{row.producto.descripcion}} </td>
      </ng-container>
    
      <!-- descripcion Column -->
      <ng-container cdkColumnDef="listaCategorias">
        <th cdk-header-cell *cdkHeaderCellDef>Category</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.producto.listaCategorias[0].nombre}} </td>
      </ng-container>
    
      <!-- stock Column -->
      <ng-container cdkColumnDef="cantidad">
        <th cdk-header-cell *cdkHeaderCellDef>Units</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.cantidad}} </td>
      </ng-container>

      <ng-container cdkColumnDef="precioUnitario">
        <th cdk-header-cell *cdkHeaderCellDef>Unit price</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.precioUnitario}} </td>
      </ng-container>

      <ng-container cdkColumnDef="impuestos">
        <th cdk-header-cell *cdkHeaderCellDef>Taxes</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.impuestos}} </td>
      </ng-container>
    
      <ng-container cdkColumnDef="subtotal">
        <th cdk-header-cell *cdkHeaderCellDef>Subtotal</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.subtotal}} </td>
      </ng-container>

      <ng-container cdkColumnDef="Acciones">
        <th cdk-header-cell *cdkHeaderCellDef>Options</th>
        <td cdk-cell *cdkCellDef="let row">
          <i value="Borrar" (click)="Borrar(row.idPedido)" class="material-icons">delete</i>
          <i value="Editar"  (click)="Editar(row.idProducto)" class="material-icons">edit</i>
        </td>
      </ng-container>

    </table>

    <div id="NewProduct" hidden>

      
              <mat-form-field>
                <mat-select [(value)]="selected" (selectionChange)="ProductoSeleccionado(selected)">
                  <mat-option *ngFor="let p of ArrayDeProductos" [value]="p.id">
                    {{p.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      
        
        
            <input id="descrip" type="text" placeholder="Description"/>
            <input id="categories" type="text" placeholder="Categories"/>

            <input id="cantidad" (focusout) = "CalcularCantidad()" type="text" placeholder="Units"/>
            <label id="stockdispo"></label>        
            <input id="precio" (focusout) = "CalcularCantidad()" type="text"/>
            <input id="impuestos" type="text" value="0.21"/>

            <p>Subtotal: {{SubTotal}}</p>
        
        
            <button (click) = "save()"> SAVE </button>
        
        </div>

  </div>
  <hr>
  <div class="total">
    <p>TOTAL: {{totalprice}}</p>
  </div>


  

  <div id="EditarPro" hidden>

 
      <label> Cantidad: </label>
      <input id="cantidadE" (focusout) = "CalcularCantidadEditar()" type="text"/>
      <label>Cantidad ampliable:</label>
      <label id="stockdispoE"></label><br>
      <label> Precio Unitario: </label>
      <input id="precioE" (focusout) = "CalcularCantidadEditar()" type="text"/><br>
      <label> Subtotal: </label>
      <p>{{SubTotalEdit}}</p><br><br>

      <button (click) = "Actualizar()"> SAVE </button>
    
    </div>

  


</div>

</body>
</html>        
   
         


    

